:root{/*Establecemos las variables*/
 --backgroundColor:blue;
 --borderRadius:15px;
}
/*Propiedades globales*/
.body{
  font-family: "Roboto", sans-serif;
}




.container{
  width: 600px;
  height: 900px;
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 150px;

}
.logo__img{
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}
.logo_text{
  font-size: 16px;
  font-weight: 700;
}

.Inputs_Container>input{
  border-radius: var(--borderRadius);
  
}
