
.main_container__casillero{
    display: grid;
    width: 100%;
    padding: 30px 0px;
    height: 88vh; /*Debe totalizar 100% con respecto al height del header*/
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 20px), 1fr));
    justify-items: center;
    align-items: center;
    font-family: Inter, sans-serif;
    background: #E6E6E6;
    overflow: auto;
}
.main_container__casillero::-webkit-scrollbar {
    width: 0px;
}

.casillero{
    width: 75%;
    height: 100%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}

.casillero__title{
    width: 100%;
    height: 30%;
}
.estilo__casillero{
    background-color: var(--color);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0
}
.casillero__contenido{
    width: 100%;
    height: 73%;
    display: flex;

}
.estilo__contenido{
    background-color: #FAFAFA;
    flex-direction: column;
    align-items: center;
    border-radius: var(--borderRadius)
}

.contenido__info{
    display: flex;
    justify-content: space-around;
    padding: 25px;

}
.contenido__info h1{
    font-size: 30px;
}

.contenido__botones{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

/*MODAL*/
/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en pantalla */
    z-index: 1; /* Sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro con opacidad */
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 26%;
    min-width: 470px;
    max-width: 550px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    background-color: #007bff;
}

.modal-body {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Puede ajustarse según necesidad */
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

/* Botón de cierre (x) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
