.main_container__conf_Sistema{
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
}
.info_box__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px;
    height: 98%;
    background-color: #fff;
    border-radius: var(--borderRadius);
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-items: center;
}
.config_box{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* CONFIG SECTORS*/
.conf_container__sideOne{
    border-right: 2px solid #201717;
    margin-right: -30px;

}
.no-border{
    border: none;
}
.conf__container{
    display: flex;
    background-color: #fff;
    border-radius: var(--borderRadius);
    padding: 25px;
    gap: 20px;
}

.conf__container--individual {
    display: flex;
    background-color: #fff;
    border-radius: var(--borderRadius);
    padding: 25px;
    width: 50%;
    gap: 20px;
    margin: 0 auto;
}

.modific_item__container{
    width: 100%;
}

.title__side{
    display: flex;
    border-bottom: 2px solid #323;
}
.back_button{
    align-self: flex-start;
}
.title__container{
    width: 100%;
    padding: 10px 50px;
}
.config_input{
    width: 45%;
}
.formulario__inputs_config{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 100%;

}
.button-container{
    width: 80%;
}
