@import url(componets/header.css);
@import url(componets/barraIqz.css);
 * {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main_container{
  display: flex;
}

.main_container__home{
  width: 100%;
  display: grid;
  grid-template-areas:
    "User Grafico1"
    "Grafico2 Grafico3"
}
.info_user{
  grid-area: User;
}
.Graph{
  justify-self: center;
  align-self: center;
}
.Graph1{
  grid-area: Grafico1;
}
.Graph2{
  grid-area: Grafico2;
}
.Graph3{
  grid-area: Grafico3;
}
.bloque{
  width: 200px;
  height: 100px;
  background-color: #cccccc;
}
