/*Propiedades globales*/
.body{
  font-family: "Roboto", sans-serif;

}
.background_login{
  background-color: var(--backgroundColorGestor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: 1.5s;
}

.background_login_aprendiz{
  background-color: #4CAF50;
}

.Container_login{
  width: 80vb;
  height: auto;
  border-radius: var(--borderRadius);
  background-color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Container__title{
  text-align: center;
  font-size: clamp(12px, 2vw, 24px)
}

.Container_login__logo{
  display: flex;
  flex-direction: column;
  width: clamp(35%, 12vw, 20%);
  height: auto;
  padding: 30px 0px;
  align-items: center;
}
.logo__img{
  max-width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}
.logo__text{
  font-size: 16px;
  font-weight: 700;
  text-align: center;

}
.Container__error{
  display: none;
  width: 70%;
  height: 6vh;
  background-color: var(--bcerror);
  border: 1px solid var(--bordererror);
  border-radius: var(--borderRadius);
  font-size: 23px;
  color: var(--colorfontError);
  padding-left: 25px;
  padding-top: 6px;

}

.Inputs_Container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.formulario_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  gap: 30px;
}
.formulario_login__inputs{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 0 30px;
}
.formulario_login__inputs > input{
  width: 45%;
  padding: 10px;
  background-color: var(--inputvacio);
  border: 1px solid var(--inputvacio);
  border-radius: 5px;
  font-size: 16px;
}
.formulario_login__inputs > input:not(:placeholder-shown),
.formulario_login__inputs > input:focus {
  background-color: var(--inputenuso); /* Cambia el color de fondo cuando tienen texto */
}

#passWord {
  width: 100%;

}

select {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--blanco); /* Cambia el color de fondo del select */
}
/* Estilos para las opciones dentro del select */
select option {
  padding: 10px;
}
select:focus {
  outline: none;
  border-color: #007bff;
}

.formulario_login__button{
  width: 35%;
  height: auto;
  border-radius: var(--borderRadius);
  padding: 10px 20px;
  border: none;
  background-color: var(--bluebutton);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.formulario_login__button:hover{
  background-color: var(--hoverbluebutton);
}

.Container__forget{
  font-size: 14px;
  color: #797979;
  text-align: center;
  transition: color 0.3s;
  padding: 1% 0px;
}
.Container__forget:hover{
  color: var(--fontgrayhover);
}
.Container__register{
  font-size: 14px;
  color: var(--fontceleste);
  text-align: center;
  transition: color 0.3s;
  padding-top: 10%;
  padding-bottom: 10%;
}
.Container__register:hover{
  color:var(--fontcelestehover);
}