.main_container__profile{
    display: grid;
    justify-content: space-between;
    grid-template-columns:34% 66%;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    transition: 2s;
}

.info_user_container{
    width: 75%;
    height: 675px;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    border-radius: var(--borderRadius);
    padding: 40px;
}

.info_user_container__header{
    margin: 35px auto;
}

.info_user_container__header>img{
    width: 150px;
}

.info_user_container__body{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.info_user_container__button{
    width: 45%;
    margin: auto;
}

.detalles_user_container{
    width: 100%;
    height: 675px;
    background-color: var(--blanco);
    border-radius: var(--borderRadius);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 95px;
    opacity: 100%;
    transition: 2s;
}

.detalles_user>hr{
    margin: 10px 0;
}
.detalles_user>p{
    font-size: 21px;
    padding: 7px 0;
}


