
.tabs {
    display: flex;
    align-items: center;
    width: 41%;
    margin-left: 15px;
}

.main_container__registros{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.tabs button {
    background-color: #673AB7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.tabs button:hover {
    background-color: #6d3bd4;
}

.tabs input {
    padding: 10px;
    margin-left: auto;
    border: none;
    border-radius: 5px;
}

/* Contenedor de la tabla con scroll vertical */
.table-container {
    max-height: 60vh; /* Limitar la altura del contenedor */
    overflow-y: auto;  /* Habilitar el scroll vertical */
    width: 100%; /* Asegurar que la tabla ocupe todo el ancho disponible */
}

/* Tabla */
table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
    border-collapse: collapse;
}

/* Encabezado fijo */
thead th {
    position: sticky;
    top: 0;
    background-color: var(--color); /* Fondo del encabezado */
    color: white; /* Color del texto */
    z-index: 1; /* Asegura que el encabezado esté sobre el contenido */
    padding: 12px;
    border: 1px solid #dddddd;
}

/* Estilos de celdas */
th, td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
}

/* Alternar colores de las filas */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Ajuste de la altura mínima de las filas */
tbody tr {
    min-height: 50px;
}
/* Clase de filas para ajustar espaciado interno */
.fila {
    padding: 10px;
}


.pagination {
    display: flex;
    width: 15%;

    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    margin: 10px auto  ;
}

.box{
    width: 250px;
    background-color: red;
}