@import url(login.css);
@import url(register.css);
@import url(registros.css);
@import url(home.css);
@import url(casilleros.css);
@import url(reports.css);
@import url(profile_aprendiz.css);
@import url(Profile.css);
@import url(vehiculo.css);
@import url(conf_Sistema.css);
@import url(usuarios.css);
@import url(componets/buttons.css);
@import url(componets/inputs.css);
@import url(componets/header.css);
@import url(componets/barraIqz.css);
@import url(componets/confirm.css);
@import url(componets/resultQuery.css);

:root{/*Establecemos las variables*/
    --backgroundColorGestor:rgb(85, 7, 231);
    --primary:#3BA800;
    --secundary:#00324D;
    --focus:#FFCE40;
    --apoyo: #82DEF0;
    --vinotinto: #671C34;
    --negro:#000000;
    --blanco:white;
    --borderRadius:15px;
    --color:    #015e91;

    --bcInputs:rgb(180, 180, 180);
    --greenbutton:#5BB964;
    --yellowbutton:#E3B732;
    --bluebutton:#50A9DC;
    --hoverbluebutton: #2B5FADFF;
    --bcerror:#F2DEDE;
    --bordererror:#CC9696;
    --colorfontError: #AC6363;
    --fontgray: #797979FF;
    --fontgrayhover: #3A3A3AFF;
    --fontceleste:#62b9ff;
    --fontcelestehover:#007bff;
    --inputvacio:#ccc;
    --inputenuso:#e6e6e6;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
    display: none; /* Oculto por defecto */
}

