@import url(login.css);
@import url(register.css);
@import url(registros.css);
@import url(home.css);
@import url(casilleros.css);
@import url(reports.css);
@import url(profile_aprendiz.css);
@import url(Profile.css);
@import url(vehiculo.css);
@import url(conf_Sistema.css);
@import url(usuarios.css);

:root{/*Establecemos las variables*/
    --backgroundColorGestor:rgb(85, 7, 231);
    --blanco:white;
    --borderRadius:15px;
    --bcInputs:rgb(180, 180, 180);
    --greenbutton:#5BB964;
    --yellowbutton:#E3B732;
    --bluebutton:#50A9DC;
    --hoverbluebutton: #2B5FADFF;
    --bcerror:#F2DEDE;
    --bordererror:#CC9696;
    --colorfontError: #AC6363;
    --fontgray: #797979FF;
    --fontgrayhover: #3A3A3AFF;
    --fontceleste:#62b9ff;
    --fontcelestehover:#007bff;

    --inputvacio:#ccc;
    --inputenuso:#e6e6e6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

