.button_primary{
    background-color: var(--primary);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: clamp(35px, 4vw, 45px);
    font-size: clamp(12px, 1vw, 20px);
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
}

.button_primary:hover{
    background-color: #4bd500;
}

.button_secundary{
    background-color: var(--secundary);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: clamp(35px, 4vw, 45px);
    font-size: clamp(12px, 1vw, 20px);
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
}
.button_secundary:hover{
    background-color: var(--color);
}

.button--width45{
    width: 45%;
}

.button--width12{
    width: 12%;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
}

.button-container--width80{
    width: 80%;
}


.button--edit {
    background-color: var(--focus); /* Color primario */
    color: var(--blanco);
    padding: 10px;
}

.button--edit:hover {
    background-color: #c0971b; /* Un tono más oscuro en hover */
}

.button--delete {
    background-color: var(--vinotinto); /* Vinotinto para acción destructiva */
    color: white;
    padding: 10px;
}


.button--deselected{
    background-color: gray;
}
.button--deselected:hover{
    background-color: rgb(172, 172, 172);
    transition: 0.3s  background-color;
}

.button--delete:hover {
    background-color: #4a1324; /* Un tono más oscuro en hover */
}

.button_container{
    width: 60%;
    gap: 10px;
}
.search-button{
    width:50px;
    height: 50px;
    background-color: var(--secundary);
    border-radius: var(--borderRadius);
}
.search-button:hover{
    background-color: rgb(20, 138, 138);
}
.search-button svg{
    fill: white;
}
