.hea_container {
    width: 100%;
    height: clamp(10%, 12vw, 14%);
    background-color: var(--primary);
    display: flex;

}
.hea_container__logo {
    width: 20vh;
    display: flex;
    justify-content: center;
}
.hea_container__logo svg {
    width: 50%;
    fill: white;
}

.hea_container__list{
    padding-left: 64%;
    display: flex;
    align-items: center;
    gap: 60px;
}
.list__buttons{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:20%;
    font-size: 25px;

}
ul.list__buttons a {
    text-decoration: none;
    color: white; /* Para heredar el color del elemento padre, si es necesario */
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;

}


.logo__img {
    width: 50%;
}

#right-sidebar {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en pantalla */
    z-index: 1; /* Sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    justify-content: center;
    align-items: center;
}

#contenedorIcono {
    width: 280px;
    height: 100vh;
    background-color: #eee7e7;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.escondido {
    transform: translateX(100%) translateY(-50%);
    opacity: 0;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.user{
    padding: 10px;
}

.ui-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui-menu__option{
    display: flex;
    align-items: center;
    color: black;
    width: 85%;
    padding: 10px;
    gap: 10px;
    border-radius: var(--borderRadius);
    background-color: inherit;
    transition: background-color 0.5s;
    text-decoration: none;


}
.ui-menu__option>img{
    width: 45px;
}

.ui-menu__option:hover{
    background-color: var(--apoyo);
}


