.hea_container {
    width: 100%;
    height: clamp(10%, 12vw, 12%);
    background-color: #0085FF;
    display: flex;

}

.hea_container__logo {
    width: 25vh;
    display: flex;
    justify-content: center;


}

.hea_container__list{
    padding-left: 50%;
    display: flex;
    align-items: center;

}
.list__buttons{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:20%;
    font-size: 24px;

}
ul.list__buttons a {
    text-decoration: none;
    color: inherit; /* Para heredar el color del elemento padre, si es necesario */
}

.logo__img {
    width: 50%;
}
